.list-item {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 20px;
}

.list-item span {
  width: 150%;
  height: 100%;
  margin: 10px;
  margin-left: 100px;
  padding-top: 10px;
}

.content {
  text-align: left;
}

.tab-left {
  margin-left: 23px;
}

.list.raised {
  background-color: palegoldenrod;
}

h1 {
  font-size: 3em;
}

.type {
  font-size: 1.5em;
}

.address {
  font-size: 1.2em;
}

.url {
  font-size: 1.2em;
}
