.list-item {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 20px;
}

.list-item span {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding-top: 10px;
  /* justify-content: center; */
}

.content {
  text-align: left;
}

.tab-left {
  margin-left: 23px;
}

.fullList {
  /* justify-content: left; */
}

.list.raised {
  background-color: palegoldenrod;
}
