/* APP COMPONENT */

/* WELCOME COMPONENT */

.welcome {
  text-align: center;
  margin-top: 10px;
}

.beer {
  color: brown;
}

/* SEARCH COMPONENT */

.search.ui.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search.ui.container button {
  margin-top: 10px;
  /* display: flex; */
}

.form {
  display: flex;
  align-self: center;
}

/* INDIVIDUAL BREWERY DISPLAY COMPONENT */

.brewery-card {
  /* background-color: gainsboro; */
}

.brewery-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 10px;
}

.brewery-list span {
  width: 100%;
  height: 100%;
}

.button.more {
  margin: 10px 25px;
  background-color: lightskyblue;
}
.more {
  margin-left: 20px;
}

.tab-left {
  margin-left: 23px;
}

/* SEGMENT COMPONENT */
.card-wrap {
  background-color: honeydew;
  text-align: center;
  align-content: center;
}
