/* APP COMPONENT */

/* WELCOME COMPONENT */

.welcome {
  text-align: center;
  margin-top: 10px;
}

.beer {
  color: brown;
}

/* SEARCH COMPONENT */

.search.ui.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search.ui.container button {
  margin-top: 10px;
  /* display: flex; */
}

.form {
  display: flex;
  align-self: center;
}

/*  BREWERY DISPLAY */

.displayBrewery {
  /* margin: auto;
  justify-content: space-evenly;
  width: 70%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.displayCard {
  background-color: lightgray;
}

/*  NAVBUTTON */

.nav a {
  margin-left: 10px;
}

.arrow {
  margin-left: 20px;
}
